/* Use your own code or past solution for Great Idea Web Page CSS here! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
	/* border: 1px solid grey; */
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */




/* Your code starts here! */


body {
	padding: 20px 5%;
}

/* style the header*/

header {
	padding-bottom: 40px;
}

header a {
	display: flex;
	color:gray;
	text-decoration: none;
	align-items:center;
}

header nav {
	display:flex;
	justify-content: space-between;

}

header .links {
	display: flex;
	width: 80%;
	justify-content: space-around;
}

header .logo {
	display: flex;
}

/*home page introduction styling*/

.introduction {
	margin-bottom: 40px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.introduction .title {
	display: flex;
	flex-direction: column;
	align-items: center; 
	/* TODO: MAKE THIS CENTERED */
}


.introduction h1 {
	font-size: 5em;
	text-align: center;
}

.introduction button {
	display: flex;
	border: 1px solid black;
	height: 30px;
	width: 150px;
	align-items: center;
	justify-content: center;

}


/* home page main content stylings */

.middle {
	padding: 2% 0;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

/*top row of text looks good TODO BUT COULD USE SPACE IN BETWEEN*/
.top-row div {
	display: flex;
	flex-direction: column;
	width:48%;
}
.top-row {
	display: flex;
	justify-content: space-between; 
}

/* this is just the middle image */
.middle img {
	width: 100%;
	margin: 3% 0;
}

/* bottom row of text looks good TODO BUT COULD USE SPACE IN BETWEEN*/
.bottom-row div {
	display: flex;
	flex-direction: column;
	width: 32%;
}

.bottom-row {
	display: flex;
	justify-content: space-between; 
}

/*------style the footer-----*/

footer {
	margin-top: 30px;
}

address p {
	margin: 2% 0%;
}

.copyright {
	text-align: center;
	padding-top: 40px;
}

/* -----------services page styling----- */

/* style the top services intro */

.services-intro img {
	width: 100%;
}

.services-intro h1 {
	font-size: 2em;
}

.services-intro-text {
	/* display: flex;
	flex-direction: column; */

	margin-top: 40px;
	margin-bottom: 20px;

	padding-bottom: 40px;
	border-bottom: 1px solid black;
}

/* style the list of services */


ul {
	list-style-type:square;
}
.list-of-services {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	
}

.service-container {
	display: flex;
	flex-direction: column;

	width: 48%;
	height: 250px;

	margin-top: 20px;
	margin-bottom: 20px;

	background:#F4F3F4;
	border: 1px solid black;

	justify-content: space-around;

	padding: 2%;

}

.service-container h3 {
	margin-bottom: 0px;
}

.learn-more {
	width: 30%;
	align-self: flex-start;

	background:white;
	height: 30px;

	border: 1px solid black;
	border-radius: 5px;
}
/*style the services facts */

.services-some-facts {
	display:flex;

	width: 48%px;
	/* justify-content: space-between; */

	padding-top: 40px;
	border-top: 1px solid black;
	margin-top: 20px;

	justify-content: space-between;
}

.facts-text {
	display:flex;
	flex-direction: column;

	justify-content: space-between;

	height: 300px;
	width: 400px;

}

.facts-text li {
	line-height: 2;
}


/* -------vision page styling----------*/

.vision-main-text h2 {
	font-size: 2em;
}

.values img {
	width: 150px;
	height: 100px;
	display: flex;
	margin: 10px;
}

.value-text {
	display: flex;
	flex-direction: column;
	padding-right: 20px;
}

.value-container {
	display: flex;
	flex-direction: row;
	margin: 40px;
	align-items: center;
	
}

.values {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}


/* Media breakpoints */

@media (max-width: 800px) {
    header nav {
        flex-flow: column-reverse;
        align-items: center;
    }

    header .logo {
        margin-bottom: 15%;
    }

    header .links {
        justify-content: space-between;
        width: 100%;
    }

    .introduction img {
        display: none;
    }
    
   .introduction {
       justify-content: center;
   }
}

@media (max-width: 500px) {

}